<!DOCTYPE html>
<html>

	<head>
		<title>Sam's Bits, Bytes, and Nibbles</title>
		<link rel="stylesheet" href="static/style.css" type="text/css" />
	</head>
	
	<body>
	
		<div id="header">
			<h1><a href="/" class="title">Sam's Bits, Bytes, and Nibbles</a></h1>
			<span id="nav"> - <a href="/tagged/projects">projects</a> - <a href="/tagged/opinion">opinion</a>
			 - <a href="/git">git</a> - <a href="/tumblr">tumblr</a> - <a href="http://samjfrank.me/">about</a></span>
		</div>
		
		<div id="wrapper">
		
			<div class="post">
				<b><a href="/post/1">hello my honey hello my baby</a></b> <span class="post-info">11:24 pm | 10/20/14</span><br/>
				<div class="inner">
					<p>testing testing 123</p>
				</div>
			</div>
		
		</div>
		
	</body>

</html>