<!DOCTYPE html>
<html>

	<head>
		<title>Sam's Bits, Bytes, and Nibbles</title>
		<link rel="stylesheet" href="static/style.css" type="text/css" />
	</head>
	
	<body>
	
		<div id="header">
			<h1><a href="/" class="title">Sam's Bits, Bytes, and Nibbles</a></h1>
			<span id="nav"> - <a href="/tagged/projects">projects</a> - <a href="/tagged/opinion">opinion</a>
			 - <a href="/git">git</a> - <a href="/tumblr">tumblr</a> - <a href="http://samjfrank.me/">about</a></span>
		</div>
		
		<div id="wrapper">
		
			<div class="rss-update">
				<b>tumblr: <a href="https://github.com/mitsuhiko/jinja2">~*networking*~ (technique entirely stolen from valve)</a></b> <span class="post-info">2:16 am | 10/21/14</span><br/>
					<div class="inner">
						<p>
							<img src="http://38.media.tumblr.com/1fc844b2fd94673ebf686363a7913bee/tumblr_nd1k8u7U3p1rmk5pjo1_500.gif"/><br/><br/><p>~*networking*~ (technique entirely <a href="https://developer.valvesoftware.com/wiki/Source_Multiplayer_Networking">stolen from valve</a>)</p>
						</p>
					</div>
			</div>
		
			<div class="rss-update">
				<b>git: <a href="https://github.com/mitsuhiko/jinja2">baka-rust starred mitsuhiko/jinja2</a></b> <span class="post-info">2:16 am | 10/21/14</span>
			</div>
			
			<div class="rss-update">
				<b>git: <a href="https://github.com/baka-rust/bbn/compare/6c4684bde4...721893c0e9">baka-rust pushed to master at baka-rust/bbn</a></b> <span class="post-info">2:16 am | 10/21/14</span>
			</div>
		
			<div class="post">
				<b>blog: <a href="/post/1">hello my honey hello my baby</a></b> <span class="post-info">11:24 pm | 10/20/14</span><br/>
				<div class="inner">
					<p>testing testing 123</p>
				</div>
			</div>
		
		</div>
		
	</body>

</html>